<div class="landing-page">
    <header>
        <div class="container">
            <div class="row justify-content-between w-100 mb-2">
                <div class="col-12 col-md-4 text-center">
                    <a class="logo">Wave<b>Gen</b>-IoT</a>
                </div>
                <div class="col-6 col-md-4">

                    @if(current_role() == 'ADMIN'){
                    <a class="email" routerLink="/userslog">{{userEmail()}}</a>
                    }
                    @else {
                    <a class="email">{{userEmail()}}</a>
                    }
                </div>
                <div class="col-4 col-md-3 col-lg-2 text-center">
                    <ul class="links text-center" (click)="signOut()">
                        <li>Desconectar</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div id="liveAlertPlaceholder"></div>
        <div class="container">

            <div class="row mb-4"></div>

            <div class="row justify-content-between">
                <div class="col-3">
                    <div class="row">
                        <label for="device">Dispositivo</label>
                        <select name="device" id="device" class="form-control"
                            [formControl]="waveDataForm.controls.device">
                            <option value="-1" [disabled]="1">Selecione un Dispositivo</option>
                            @for(device of devices(); track device?.['name']){
                            <option value="{{device?.['id']}}">{{device?.['name']}}</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-3 d-flex justify-content-end">
                    <button (click)='sendData()' class="btn btn-primary bnt-lg">Enviar</button>
                </div>
            </div>

            <div class="row mb-4"></div>

            <div class="row justify-content-between">
                <div class="col-3 ">
                    <div class="row">
                        <label for="wave">Tipo de señal</label>
                        <select name="wave" id="wave" class="form-control" [formControl]="waveDataForm.controls.type">
                            @for(wave of waves; track wave.id){
                            <option value={{wave.id}}>{{wave.signal}}</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="col-3">
                    <div class="row">
                        <label for="frequency">Frecuencia</label>
                        <input type="number" id="frequency" name="frequency" class="form-control"
                            [formControl]="waveDataForm.controls.frequency" min="10" max="100000"
                            (keydown)="validatePattern($event, 100000, '[0-9]', 1)">
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <label for="amplitude">Amplitud</label>
                        <input type="number" id="amplitude" name="amplitude" class="form-control"
                            [formControl]="waveDataForm.controls.amplitude" min="0" max="3" step="0.1"
                            (keydown)="validatePattern($event, 3, '[0-9.]$', 10)">

                    </div>
                </div>
            </div>

            <div class="row mb-4"></div>

            <div class="row">
                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"></canvas>
            </div>

        </div>
    </div>
</div>